.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;

}

.main button:hover, .main img:hover {
  cursor: url("/pointer.png"), auto;
}

.light .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url("/bg-desktop-light.jpg");
  height: 300px;
}

.header1 {
  margin-top: 4%;
 width: 40%;
  display: inline-flex;
  justify-content: space-between;
  
}

 .header h1 {
  font-size: 50px;
  letter-spacing: 0.42cm;
}

.header img {
  margin-top: 1%;
  height: 40px;
}

.header2 {
  margin-top: 2.5%;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.header2 button{
  position: absolute;
  margin: 0.9% 0% 0% 1.8%;
  border-radius: 50%;
  border: 0.2px solid   hsl(234, 39%, 85%);
  background-color:  white;
  width: 30px;
  height: 30px;
}

.light input {
  width: 100%;
  height: 60px;
  padding-left: 12%;
  font-size: 18px;
  border: white solid;
  border-radius: 5px;
}

.light section {
  margin-top: -3%;
  background-color: white;
  color: black;
  width: 40%;
  border-radius: 5px;
  filter: drop-shadow( 5px 30px 10px rgba(150, 148, 148, 0.2));
  padding: 0% 1.8%;
  font-size: 18px;
  overflow: hidden;
}

.tareas {
  display: flex;
  width: 100%;
  border-bottom: 0.05cm solid  hsl(233, 11%, 84%)
}


.light button {
  border: 0.2px solid   hsl(234, 39%, 85%);
  background-color:  white;
  min-width: 30px;
  height: 30px;
 
}

.tareas p {
  padding: 0.7% 0% 2% 3%;
}

.botones {
  padding: 4% 4%;
  display: grid; /* al contenedor principal le doy grid como con flex*/
  grid-template-columns: 20% 45% 25%; /*cada valor es el ancho que quiere y la cantidad de valores la columnas que quiero */
  gap: 0% 7%; /* espacio entre las filas y la columnas*/
  color: hsl(236, 9%, 61%);
  font-weight: 600;
}

.opciones {
  display: flex;
  justify-content: space-around;
}

.botones p {
  font-size: 15px;
}

.botones button {
  margin-top: -1.5%;
  color: hsl(236, 9%, 61%);
  font-weight: 600;
  border: none;
  font-size: 15px;
  background-color: white;
}

.botones button:focus {
  color: hsl(220, 98%, 61%);
}

/*  section de cambio de classname para tarea completada */

.tareaHecha div  , .tareaNoHecha div {
  display: inline-flex;
  padding: 5% 0% 0% 0%;
  min-width: 150%;
  
}

.tareaNoHecha button {
  border-radius: 45%;
  width: 20px;
  border-style: solid rgb(119, 13, 13); 
}

.tareaHecha button {
  border-radius: 45%;
  width: 20px;
  background: url("/icon-check.svg"), linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat; /* como está arriba se ponen 2 background */
  background-position: center;
  border-radius: 50%;
  border-style: solid black;

 
}

.tareaHecha p {
  text-decoration: line-through;
  color:  hsl(233, 11%, 84%);
}



/* Dark section */

.dark {
  background-color:   hsl(235, 21%, 11%);
  color: #fff;
}


.dark .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url("/bg-desktop-dark.jpg");
  height: 300px;
}


.dark input {
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  height: 60px;
  padding-left: 12%;
  font-size: 18px;
  border: hsl(235, 24%, 19%) solid;
  border-radius: 5px;
  color:  hsl(234, 39%, 85%) ;
}


.dark button {
  border: 0.2px solid   hsl(234, 39%, 85%);
  background-color:  hsl(235, 24%, 19%);
  min-width: 30px;
  height: 30px;
}


.dark section {
  margin-top: -3%;
  background-color: hsl(235, 24%, 19%);
  color:  hsl(236, 9%, 61%);
  width: 40%;
  border-radius: 5px;
  filter: drop-shadow( 5px 30px 10px rgba(150, 148, 148, 0.2));
  padding: 0% 1.8%;
  font-size: 18px;
  overflow: hidden;
}


.light {
  background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  color: #fcfbfb;
}

#one button {
  border: none;
}

/* */ 

/* Mobile */
@media (max-width: 600px) {
 
  .light .header {
    background: url("/bg-mobile-light.jpg");
    height: 300px;
    padding: 4% 6%;
  }

  .main {
    padding-right: 2%;
  }
  
  .header1 {
    margin-top: 4%;
   width: 100%;
    
  }
  
   .header h1 {
    font-size: 25px;
    letter-spacing: 0.37cm;
  }
  
  .header img {
    margin-top: 1%;
    height: 24px;
  }
  
  .header2 {
    margin-top: 6%;
    width: 100%;
  }
  
  .header2 button{
    margin: 2.2% 0% 0% 1.8%;
    width: 15px;
    height: 15px;
  }
  
  .light input {
    height: 50px;
    font-size: 15px;
  }
  
  .light section {
    margin-top: -15%;
    width: 93%;
    font-size: 15px;
    overflow: hidden;
  }
 
  
  .light button {
    min-width: 23px;
    height: 23px;
   
  }
  
  .botones {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
  }

  #first  , #last  {
    display: flex;
    justify-content: center;
   
  }

  .opciones {
    margin: 5% 0%;
  }

  .opciones button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  
  /* Dark section */
  
  .dark {
    background-color:   hsl(235, 21%, 11%);
    color: #fff;
  }
  
  
  .dark .header {
    height: 300px;
    padding: 4% 6%;
    background: url("/bg-mobile-dark.jpg");
    height: 300px;
  }
  
  
  .dark input {
    width: 100%;
    height: 50px;
    font-size: 15px;
  }
  
  .dark button {
    min-width: 23px;
    height: 23px;
  }
  
  
  .dark section {
    margin-top: -15%;
    width: 90%;
    padding: 0% 1.8%;
    font-size: 15px;
    overflow: hidden;
  }
  
  
  .light {
    background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    color: #fcfbfb;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
